URL_BASE_DONNEES=postgresql+psycopg://boutique_user:motdepasse@localhost:5432/nom_base
CLE_SECRETE_JWT=change-moi-avec-une-cle-longue-et-aleatoire
ALGORITHME_JWT=HS256
DUREE_TOKEN_MINUTES=1440
MODE_DEBUG=true
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NOM_BOUTIQUE=#Pour facture
ADRESSE_BOUTIQUE=#Pour facture
TELEPHONE_BOUTIQUE=#Pour facture
BREVO_API_KEY=#Pour vrai compte gmail 
EMAIL_EXPEDITEUR=
NOM_EXPEDITEUR=
URL_FRONTEND=http://localhost:4200
#Apres avoir remplit le seed voici les informations du gerant a utiliser lors de la premiere connexion mais a changer
NOM_UTILISATEUR = admin
MOT_DE_PASSE_GERANT=admin1234